@import '../../../styles/responsive';

.dashboardLayout {
  &_initialView {
    max-width: 30rem;
    margin: 0 auto !important;
  }

  &_title {
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: center;

    @include responsive(lg) {
      margin-top: 0;
    }
  }

  &_illustration {
    max-width: 500px;
  }
}