.dashboardLayout {
  &_initialView {
    max-width: 30rem;
    margin: 0 auto !important;
  }

  &_title {
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: center;
  }

  &_illustration {
    max-width: 500px;
  }
}