@import "../../../../styles/responsive";

.menu {
  &_float {
    display: block;
    width: 85%;
    max-width: 18.75rem;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 1rem 0;
    transform: translateX(-100%);
    transition: all 0.3s ease;

    /* When menu is active */
    &_true {
      display: block;
      transform: translateX(0%);
    }
  }

  &_aside {
    display: none;
    @include responsive(lg) {
      display: block;
      min-height: 100vh;
      height: 100%;
      padding-top: 0.5rem;
    }
  }

  &_logo,
  &_projectsTitle,
  &_search,
  &_projects {
    margin-bottom: 2.5rem;
  }

  &_projects {
    border-radius: 5px;
    height: 12.5rem;
    overflow-y: auto;
    width: 100%;

    @include responsive(lg) {
      max-width: 15.625rem;
    }
  }

  &_addProject {
    display: flex !important;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;

    &:hover {
      filter: brightness(95%);
    }

    &Text {
      margin-right: 1rem;
    }
  }

  &_signout {
    background-color: transparent !important;
    transition: all 0.3s ease;

    &:hover {
      background-color: #e2e2e2 !important;
    }
  }

  &_chevron {
    margin-right: 0.5rem;
  }
}
