@import '../../../styles/responsive';

.header {
  &_wrapper {
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include responsive(md) {
      justify-content: flex-end;
    }

    @include responsive(lg) {
      width: 100% !important;
      padding-right: 1rem;
    }
  }
}