@import "../../../../styles/responsive";

.taskData {
  @include responsive(md) {
    display: flex;
    justify-content: space-between;
  }

  &_data {
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;

    @include responsive(md) {
      flex-basis: 65%;
      margin-bottom: 0rem;
      margin-right: 1rem;
    }
  }

  &_timer {
    border-radius: 5px;
    padding: 1rem;

    @include responsive(md) {
      flex-basis: 30%;
    }
  }
}
