@import "../../../../styles/responsive";

.taskData {
  @include responsive(md) {
    display: flex;
    justify-content: space-between;
  }

  &_data {
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;

    @include responsive(md) {
      flex-basis: 65%;
      margin-bottom: 0rem;
      margin-right: 1rem;
    }

    @include responsive(lg) {
      flex-basis: 55%;
    }
  }

  &_timer {
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include responsive(md) {
      flex-grow: 1;
    }
  }
}
