.panelHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  &_title {
    flex-basis: auto;
  }

  &_actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 6rem;
    margin-left: 1rem;
  }

  &_span {
    margin-left: 0.5rem;
  }
}