.taskTimer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 10rem;
  padding: 1rem;
  border-radius: 5px;
  position: relative;

  &_time {
    font-size: 3rem !important;
    font-weight: bold;
    margin-bottom: 0.8rem;
  }

  &_button {
    margin-top: 1.2rem;
  }

  &_control {
    position: relative;
    z-index: 15;
  }

  &_backdrop {
    z-index: 8 !important;
  }
}
