@import '../../../styles/responsive';

.tasksList {
  &_head {
    margin: 0;
  }

  &_badgeContainer,
  &_list {
    margin-top: 1rem;
  }

  &_badge {
    margin-right: 0.5rem;
  }

  &_list {
    max-height: 22.5rem;
    overflow-y: auto;

    @include responsive(sm) {
      max-height: 11.5rem;
    }

    @include responsive(xl) {
      max-height: 12.5rem;
    }
  }
}