 @import '../../../styles/responsive';

.actions {
  &_icon {
    transition: all ease 0.1s;
    
    &:last-of-type {
      margin-left: 1rem;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}
