@import "../../../styles/responsive";

$directions: (
  "flexRow": row,
  "flexColumn": column,
);

$spacing: (
  "sm": 0.5rem,
  "md": 1.5rem,
  "lg": 3rem,
  "xl": 5rem,
);

$wrap: (
  "wrap": wrap,
  "nowrap": nowrap,
);

.grid {
  &_parent {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  &_child {
    display: block;
  }

  @each $name, $value in $breakpoints {
    @include responsive($name) {
      @for $i from 0 to 13 {
        &_#{$name}_#{$i} {
          flex-basis: ($i / 12) * 100%;
        }
      }
    }
  }

  @each $name, $value in $spacing {
    &_spacing_#{$name} > &_child {
      padding: $value;
    }
  }

  @each $name, $value in $spacing {
    &_inner_spacing_#{$name} {
      padding: $value;
    }
  }

  @each $name, $value in $wrap {
    &_#{$name} {
      flex-wrap: $value;
    }
  }
}
